# Server information
SERVER_URL=https://your-api-server.com/

# Application information
APPLICATION_NAME=KMPBase
APPLICATION_VERSION_NAME=1.0.0
APPLICATION_VERSION_CODE=1
APPLICATION_ID=com.kira.kmpbase

# Keystore information (Android signing, path relative to androidApp/)
KEYSTORE_FILE_PATH=keystores/debugkeystore
KEYSTORE_PASSWORD=123456
KEY_ALIAS=debugkeystore
KEY_PASSWORD=123456
